/* flexbox divides into wire frame
custom properties and values
using parents to style children */


/* ! self closing tags should be wrapped/nested to avoid issues with wrapping text */

/* justify-content requires free space within an element to be used properly */

*{
    margin:0;
    padding:0;
}

body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #6a89cc;
    display: flex;
    /* enables flex */
    flex-direction: row;
    /* defines main and cross axes */
    flex-wrap: wrap;
    /* enables elements to wrap into next line upon resize (unlike this note...) */
    justify-content: center;
    /* determines positioning and free space within the parent container */
    
}

.nav-link{
    color: white;
}

#logo{
    width: 3em;
    padding-right: 1em;
    padding-left: 1em;
}